.App {
  text-align: center;
  color: rgb(231, 231, 231);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.headerText {
  width: 100%;
  align-items: center;
  justify-content: center;
}


