.dropdown-container {
    width: 100%;
    padding: 2%;
    background-color: rgb(105, 105, 105);


    .service-container {



        .serviceButtonTest {
            height: 40px;
            font-size: 80%;
            cursor: pointer;
        }

    }

    .service-items {
        color: white;
    }
    
    
}